
.boton-alta {

    button {

        width: 500px;
        height: 35px;
        box-shadow: 0, 3, 0 #373c3c;
        border: none;
        border-radius: 5px;
        font-size: 17px;
        color: rgb(10, 96, 208);
        cursor: pointer;
        background-image: radial-gradient(circle at 87.5% 12.5%, #ffae91 0, #ffb287 5%, #ffb67f 10%, #ffbb78 15%, #ffbf72 20%, #fdc46d 25%, #f2c86b 30%, #e7cc6a 35%, #dbd06b 40%, #ced46e 45%, #c1d773 50%, #b3da7a 55%, #a5dd81 60%, #96df8b 65%, #86e195 70%, #75e3a0 75%, #61e4ac 80%, #4ae5b9 85%, #2ae6c5 90%, #00e7d2 95%, #00e7df 100%);
    }
    button:hover{
        box-shadow:  0px 1px 10px rgba(4, 2, 2, 0.9);
    }

}