
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal {
  background: rgb(60, 64, 87);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  padding: 20px;
  position: relative;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .modal-close {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: gray;
  }

 
  .modal-content {
   padding-top: 5px;
    text-align: center;
    
  }
}
 