html{
    display: flex;
} 
  body {
    width:100vw ;
    margin: 0;
    padding: 0;
    
    background-color: white;
    display: flex;
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
} 

.container-all{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}

//------------------------- HEADER ------------------
header {
    width:100%;
    height: 120px;
    display: flex;
    flex-direction: row;
   /*  background-color: rgb(20, 107, 179); */
    justify-content: center;

    .container-inicial {
        display: flex;
        flex-direction: row;
        width: 1500px;
        flex-wrap: wrap;
        justify-content: space-between;
        
    .container-logo{ 
        


        .logo {
            width: 150px;
            height: 100px;
            padding:10px;
          

        }
    }
        
        .form-contenedor{
           width: 800px;
           display: flex;
           flex-direction: row;
           align-items: center;
           justify-content: center;
          
        label{
            margin-right: 10px;
            color:  rgb(162, 219, 234);
            font-weight: bold;
            font-size: 20px;
            font-family: 'Noto Sans', sans-serif;
            
        }

        input{
            padding: 10px;
            width: 400px;
            height: 30px;
            border: 2px solid rgb(162, 219, 234);
            border-radius: 30px;
            position: relative;       
        }
        input::placeholder {
            color:gray;
            font-size: 15px;
          }

        input:hover{
            border: 2px solid  rgb(20, 107, 179) ;
        }
      
        .boton {
            width: 100px;
            margin-left: 10px;
            
    
            button{
                width: 100px;
                height: 40px;
                background-color: white;
                border: 2px solid rgb(162, 219, 234);
                border-radius: 30px;
                box-shadow:  2px 2px 5px rgb(162, 219, 234);
                
                i{
                       width: 30px;
                       height: 30px;
                        color: rgb(162, 219, 234);
                        line-height: 30px;
                        margin-right: 5px;         
                        
                    }
                    
                   
            }
            button:hover{
               
                border: 2px solid rgb(20, 107, 179);
               
            }         
            
        }
    }
        .registrarme {
            width: 200px;
             color:  rgb(162, 219, 234);
             display: flex;
             flex-direction: row;
             justify-content: space-between;
             align-items: end;
             margin-bottom: 10px;
             margin-right: 20px;
            

            

            i, a{
                color: rgb(162, 219, 234);
                cursor: pointer;
                text-decoration: none;
              
            
            }
             
             
             i:hover, a:hover {

                color:  rgb(20, 107, 179);

             }

             

        .container-corazon {
            height: 20px;
            
            img.corazon {
                width: 20px;
                height: 20px;
                cursor: pointer;
                
                

            }
        }
    }
    .registrarme:hover {
        color:  rgb(20, 107, 179);
     }
    }
}

.container-inicial, nav, aside, main, .pie{
    width: 100%;
}

//------------------ BARRA DE NAVEGACION ------------------------


nav{
    margin: 0;
    padding: 0;
    background-color:  rgb(20, 107, 179);
    width: 100%;
    height: 100px;
    
    display: flex;
    flex-direction: row;
        justify-content: end;

    ul{
        width: 1000px;
        margin-right: 20px;

        list-style: none;
         display: flex;
        flex-direction: row;
        justify-content: space-around; 

       

        li{
            color: white;
            display: flex;
            align-items: center;

            a {

                color:   white;
                text-decoration: none;
                font-size: 20px;
                font-family: 'Noto Sans', sans-serif;
                font-weight: 500;
            }

            .inicio{
                text-decoration: underline;
            }
            a:hover{
                color: yellow;
            }
        }
    } 
}

//--------------ADVERTISER----------------------

.container-advertiser{ 
    display: flex;
    justify-content: center;
.advertiser{
    width: 1300px;
    background-color: rgb(97, 205, 99);
    display: flex;
    justify-content: center;
    .frase-advertiser{
        display: flex;
        flex-direction: column;

        h1{
            text-align: center;
        color: white;
        font-size: 60px;
        font-family: 'Anton', sans-serif;
        
    }
  .title-image{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    .t-liquid{
        text-align: left;
        font-size: 40px;
        margin-left: 40px;
        color: rgb(22, 90, 185);
        font-family: 'Comme', sans-serif;
        }
        .descuento{

         width: 150px;
         height: 150px;
        }
    }
       
    .ver-mas{
        width: 750px ;
    
           button{
            float: right;
            margin-bottom: 20px;
            width: 250px;
            height: 60px;
            border-radius: 30px;
            font-size: 30px;
            background-color: white;
            border:4px solid green ;
            box-shadow: 0px 1px 10px rgba(4, 2, 2, 0.3);
            
            a{
                text-decoration: none;
                color: green;
            }
       


        }

        button:hover{
            
            color: green;
            background-color:(170, 249, 189);
            border: 7px solid rgb(14, 146, 7);
        }
    }
}

.primera-imagen{
    transition: 2s;
}
.primera-imagen:hover{
    transform: translateX(-30%);
    filter: brightness(80%);
    
}
}
 }

//--------------CARDS DE PRODUCTOS----------------------

 main{
    width: 100%;
 }
    h2{ 
        color: grey;
        text-align: left;
        margin-left: 220px;
        font-size: 25px;
        padding-top: 20px;
        font-family: 'Noto Sans', sans-serif;

        
        .tucompra{
            margin-top: 50px;
            
        
    }
         
    }

.card-container1, .card-container2{
    margin: auto;
    width: 80%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    

    .primer-grupo-cards, .segundo-grupo-cards, .tercer-grupo-cards,  .cuarto-grupo-cards{
        width: 1200px;
        height: 500px;
        background-color: beige;
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        align-items: center;
        margin: 15px;
     
       

        .card{
            width: 370px;
            height: 500px;
            background-color: white;
            box-shadow: 0px 1px 10px rgba(4, 2, 2, 0.5);
            border-radius: 7px;
         
            

            .imagen{
                height: 300px;
                border-bottom: 1px solid beige;
                display: flex;
                


                .size-card{
                    margin: auto;
                    width:280px ;
                    height: 210px;
                    

                }
               .iphone{
                    width: 200px;
                    height:250px ;
                    
                }
            }

            .title{
                color: red;
                font-family: 'Poppins', sans-serif;
                
               
               

                h4{
     
                    text-align: center;
                    font-size: 15px;   
                }
            }

            .description{
                
                margin-left: 10px;
                font-size: 15px;
                font-family: 'Poppins', sans-serif;
            }
            .precio-anterior{
                margin-left: 15px;
                font-size: 20px;
                text-decoration: line-through;
                color: gray;
                font-family: 'Roboto', sans-serif;
            }
            .precio-actual{
                margin-left: 15px;
                font-size: 25px;
                font-weight: bold;
                font-family: 'Roboto', sans-serif;
            }
            .button-comprar{
                
                display: flex;
                flex-direction: row;
                justify-content: right;
                align-items: center;

                button{
                    width: 90px;
                    height: 25px;
                    margin-right: 35px;
                    background-color: #77df77;
                    border: #77df77;
                   border-radius: 20px;
                   font-weight: bold;

                   a{
                    text-decoration: none;
                    color: white;
                }
                
                }
                button:hover{
                background: #77df77c0;
                }
            }
            
        }
        
    }
 }

 ////este falaaaaaaaaaaaaaaaaaaaaa

 .card-container2{
    width: 1500px;
    height: 1200px;
 }


.container-categorias{
    margin: auto;
    background-color: aqua;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-bottom: 100px;

    .primer-categoria, .segunda-categoria{
        
        
        width: 800px;
        height: 400px;
        background-color: #ff97d9;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .card-categorias{
           

            width: 200px;
            height: 200px;
            background-color:#aaaaaa;
            border: 1px solid grey;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0px 1px 10px rgba(4, 2, 2, 0.2);

            .fa-solid{
                font-size: 50px;
                color: #474b4e;
                cursor: pointer;
            }

            span{
                margin-top: 20px;
                color: #474b4e;
                font-family: 'Raleway', sans-serif;
                cursor: pointer;

            }

           
            .fa-solid:hover{
                color: pink;
    
            }
            span:hover{
                color: pink;

            }
        }

        
        

    }
    

   

}



.social-media{
    margin: auto;
    width: 800px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .red-social { 
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        background-color: yellowgreen;
        border-radius: 50%;
        box-shadow: 0px 1px 10px rgba(4, 2, 2, 0.5);

   

    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        border: #474b4e;
        text-decoration: none;

        .fa-brands{
            font-size: 20px;
            margin: auto;
            color: white;
            font-size: 40px;
            

           
                
            }
            
        }
    }
}
.red-social:hover{
    background-color: green;
   
}


.titulo3 {
    width: auto;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    
    margin-bottom: 20px;
h3{     
        width: 300px;
        text-align: center;
        font-size: 20px;
        margin-left: 40px;
    
        color:gray;

        
}
}

.container-comentarios{
    margin: auto;
    width: 1200px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
    

    .card-comentario{
        
        width: 300px;
        display: flex;
        flex-direction: column;
        
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.171);
        

        .container-google{
            margin-top: 10px;
            margin-right: 10px;
            display: flex;

           justify-content: right;
           img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        }

        p{
            
            margin-top: 50px;
            margin-left: 15px;
            width: 250px;
            font-size: 20px;
            color: #474b4e;
            
        }

        span{
            text-align: right;
            margin-right: 20px;
            color: #474b4e;
            
        }

       

    }
    
}
.tarjetas{
    margin: auto;
    width: 1200px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    .tarjeta{

        width: 80px;
        height: 50px;
      }
}


footer{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: black;
    color: white;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 10px;


}
/* 
---------mmedias queries------------- */
 @media only screen and (max-width:1700px){

.card-container1, .card-container2 {

    width: 1300px;


        .card{

            width:300px ;
            height: auto;
            
            
        }
    }

} 
@media only screen and (max-width:1300px)
{  
    header{
        .container-inicial{

        .form-contenedor{
            display: none;
        }
        .container-logo{ 
            margin: auto;}
    }
    }
    aside{
        margin: 0;
        width: 800px;
       
        .container-advertiser{
            width: 800px;
            margin: auto;
            display: flex;

            justify-content: center;

            .advertiser{
                width: 800px;
                height: 300px;
                margin: auto;

                .frase-advertiser{ 
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 500px;

                h1{
                    padding-top: 30px;
                    font-size: 35px;
                  
                   display: flex;
                   flex-direction: row;
                   justify-content: center;
                   
                }
                .title-image{
                    width: 100%;
                    justify-content: center;
                 

                   .descuento{
                        width: 70px;
                        height: 70px;
                        border-radius: 10px;
                    }
                    .t-liquid{
                        
                        font-size: 25px;
                        margin-top: 0;
                        
                    }
                }
                .ver-mas{
                    
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    button{
                        width: 200px;
                        height: 50px;
                        font-size: 20px;
                        justify-content: right;
                        align-items: center;
                        margin-bottom: 15px;
                        padding-bottom: 10px;

                        a{
                            line-height: 40px;
                        }

                    }
                }
            }
              .primera-imagen{

                width: 220px;
                height: auto;
               
              }
            
            }
        }
    }
    
    main {
    margin: 0;
    .card-container1, .card-container2{
        width: 800px;
        margin: auto;
        grid-area: 5px;
        display: flex;
        flex-direction: column;



        .primer-grupo-cards, .segundo-grupo-cards, .tercer-grupo-cards, .cuarto-grupo-cards{
            width: auto;
            margin: auto;
          
           display: flex;
           flex-direction: row;
           justify-content: center;
           gap: 10px;
           margin-bottom: 10px;

           .card{
            width: 250px;
            display: flex;
            flex-direction: column;


            .imagen{


                .size-card{
                    width: 200px;
    
                }

            }
            .precio-anterior{
                span{
                    font-size: 13px;
                }
            }
            .description{
                font-size: 12px;
            }
            .precio-actual{
                span{
                    font-size: 17px;
                }
            }
             .button-comprar{
             
                
                button{
                   margin-bottom: 0;


                }
            }
           }
            
        }
        
    }
    .container-comentarios{
        width: 800px;
    }
    .tarjetas{
        width: 600px;
    }
}
}

@media only screen and (max-width:800px){

    aside{

        .container-advertiser{
            transform: scale(0.8);
        }
    }
  
   

    main{

        max-width: 600px;
        height: auto;
       
        .segundo-t{
            margin: auto;
            width: auto;
            
        }

        .card-container1, .card-container2{
            width: 100%;
            display: flex;
            
            height: auto;

            .primer-grupo-cards, .segundo-grupo-cards, .tercer-grupo-cards, .cuarto-grupo-cards{
                /* display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: auto; */
                width: 100%;
                transform: scale(0.8);

                .card{
                    
                } 

             
            }

        }
    }
}
